html,body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

#root {
  min-height: 100%;
  background-color: #fcb571;
}

form {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}

#submit {
  margin: 20px 0 10px auto;
}

.snackbar {
  margin: auto;
  width: 400px;
}

@media  screen  and (min-width: 640px) {
  #root {
          height: 100%;
  }
}